@import "vars";
@import "cart";

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-decoration: none;
  transition: all 0.3s;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  width: 100%;
}

.center {
  padding-left: calc(50% - $siteWidth/2);
  padding-right: calc(50% - $siteWidth/2);
}

.content {
  padding: 3% 2% 0;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background: #222222;
  position: relative;

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__link {

    }
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 2.5rem;
}

.header__link {
  text-decoration: none;
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }

    &__top_right {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__top_left {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__burger {
      display: inline-block;
      padding-top: 1rem;
      padding-bottom: 1rem;
      cursor: pointer;
    }

    &__hover {
      //display: none;
      position: absolute;
      background: #FFF;
      padding: 33px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      overflow: hidden;
      min-width: 160px;
      z-index: 1;
      transition: right .5s ease;
      right: 0;
    }

    &__hover_items {
      list-style-type: none;
      margin-left: 0;
      padding-left: 22px;
    }

    &__hover_item {
      margin-bottom: 1em;
      text-decoration: none;
      color: #6F6E6E;
      font-size: 14px;
    }

    &__hover_link {
      text-decoration: none;
      color: #6F6E6E;
      font-size: 14px;
    }

    &__hover_link:hover {
      color: $decorColor;
      font-weight: bold;
    }

    &__hover_h1 {
      color: #000;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 24px;
    }
}

#check {
  visibility: hidden;
}

#check:checked ~ .menu__hover {
  right: -100%;
}


.dropdown {
  //position: relative;
  //overflow: hidden;
}

.dropdown:hover .menu__hover {
  //display: block;
  //left: 0;
  //overflow: visible;
}

.submenu {
  color: $decorColor;
  font-size: 14px;

  &__name {
    color: $decorColor;
    font-size: 14px;
    padding-bottom: 12px;
  }
}

.filters {
  height: 10px;
  display: flex;
  gap: 16px;
  padding-top: 39px;
  box-sizing: border-box;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  &__content {
    display: block;
    padding: 0 16px 16px;
    background: #FFF;
    box-shadow: 0 39px 35px -16px rgba(22, 24, 26, 0.24);
  }

  &[open] {
    background: #FFF;
    box-shadow: 6px -25px 35px -20px rgba(0, 0, 0, 0.2);
  }

  &[open] &__header {
    color: $decorColor;
  }

  &[open] path {
    fill: $decorColor;
  }

  &__summary {
    position: relative;
    align-items: center;
    gap: 11px;
    padding-left: 16px;
    cursor: pointer;
  }

  &__header {
    color: $colorText;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }

  &__item {
    padding-top: 16px;

    &[open] .filter__head{
      color: $decorColor;
    }
  }

  &__head {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $decorColor;
    cursor: pointer;
  }

  &__link {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    &:hover {
      color: $decorColor;
    }

    &_box {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding: 24px 16px 0 16px;
    }
  }
}

.sort {
  padding-top: 12px;
  padding-left: 16px;
  display: flex;
  gap: 18px;

  &__details {
    position: relative;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__header {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #FFF;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    position: absolute;
    left: -9px;
    top: 22px;
    z-index: 1;
  }

  &__check {
    display: flex;
    gap: 9px;
    align-items: center;
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    &:hover {
      color: $decorColor;
    }
  }
}

.top {
  background: #F1E4E6;

  &__content {
    display: flex;
  }
  
  &__left {
    width: 50%;
  }
  
  &__right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    border-left: #F16D7F 1rem solid;
  }

  &__h_text {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }
  
  &__p_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  &__accessories {
    flex-grow: 1;
  }

  &__head {
    background: #F8F3F4;
  }

  &__head_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__head_text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__head_breadcrumbs {
    color: #636363;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

}

.pink__decorate {
  color: $decorColor;
}

.slider {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #F7F7F7;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  &__button {
    background: #2A2A2A26;
    padding: 6px;
  }

  &__button:hover path {
    fill: $decorColor;
  }

  &__img {
    width: 50%;
  }
}

.item {

  &__info {
  }

  &__info_content {
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 65px;  
  }

  &__collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 12px;

    &_text {
      color: $decorColor;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-bottom: 10px;
    }
  }

  &__name {
    text-align: center;
    padding-bottom: 48px;
    width: 100%;

    &_text {
    color: #4D4D4D;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    }
  }

  &__description {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;

    &_text {
    color: #5E5E5E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 555px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 12px;

    &_text {
      color: $decorColor;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-bottom: 65px;
    }
  }

  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 23px;
    padding-bottom: 48px;
  }

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;

    &_link {
      text-decoration: none;
      color: #6F6E6E;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    border: 1px solid $decorColor;
    padding: 14px 39px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 23px;

    &_text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $decorColor;
    
    }
    
    &:hover {
      color: #FFF;
      background: $decorColor;
    }
    
    &:hover &_text{
      border: none;
      color: #FFF;
    }
    
    &:hover path{
      fill: #FFF;
    }
  }
}

.main__menu {
  padding-top: 65px;

  &_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card {
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;

  &:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.03);
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
  }
  
  &__text_decorate {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $decorColor;
  }

  &__photo {
    position: relative;
  }

  &__img_photo {
    opacity: 1;
    height: 100%;
  }
}

.featured {
  &__items {
    text-align: center;
    background: #FFFFFF;
  }
  
  &__header {
    padding-top: 96px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
  }
  
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
  
  }
  
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 48px;
    gap: 30px
  }
  
  &__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
    background: #F8F8F8;
  }

  &__card:hover .img__card_photo{
    opacity: 0.6;
    background: black;
  }
  
  &__card:hover .card__photo{
    background: black;
  }

  &__card:hover .image__wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(58, 56, 56, 0.86);
  }
}

.product {
  &__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 16px;
    text-align: left;
  }
  
  &__info {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    text-align: left;
  }
  
  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $decorColor;
    padding-top: 16px;
    text-align: left;
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    padding: 25px 0 19px 16px;
    justify-content: flex-start;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 97px;

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 15px 16px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
  }

  &__link {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #C4C4C4;

    &:hover {
      color: $decorColor;
    }

    &:hover path{
      fill: $decorColor;
    }
  }
}

.browse__all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 61px;
  padding-top: 49px;

  &_button {
    border: 1px solid $decorColor;
    padding: 14px 39px;
    cursor: pointer;
  }
  
  &_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $decorColor;
  
  }
  
  &_button:hover {
    color: #FFF;
    background: $decorColor;
  }
  
  &_button:hover &_text {
    border: none;
    color: #FFF;
  }
}

.image__wrapper {
  display: none;
}

.button {
  &__in_cart {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
  }
  
  &__icon {
    margin-right: 10px;
  }
}

.cart {
  &__content {
    display: flex;
    flex-direction: row;
      justify-content: space-between;
      gap: 30px;
  }

  &__products {
    height: 300px;
    width: 80%;
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__product {
    height: 100px;
    width: 20%;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  &__info {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  &__total {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

.footer {
  background: #222224;

  &__articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 103px;
    padding-bottom: 103px;
  }
  
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33.333333%;
    gap: 1rem;
  }

  &__h_text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
  }
  
  &__p_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
  }
  
  &__faces {
    background: url("faces.png") no-repeat center;
    background-size: cover;
    display: flex;
  }
  
  &__face {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(244, 244, 244, 0.7);
    width: 50%;
    padding-top: 97px;
    padding-bottom: 126px;
  }

  &__subscribe {
    background: rgba(244, 244, 244, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  &__reserved {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 23px;
  }
}

.article__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 7%;
  padding-right: 7%;
  max-width: 360px;
}

.face__icon {
  padding-bottom: 30px;
  object-fit: none;
  width: auto;
}

.face__history {
  max-width: 360px;
  text-align: center;
}

.history__p_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.history__p_text_italic {
  font-style: italic;
}

.subscribe {
  &__text {
    text-align: center;
    padding-bottom: 32px;
  }
  
  &__form {
    display: flex;
    flex-direction: row;
    min-height: 49px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F16D7F;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    flex-grow: 1;
    padding-right: 3%;
    padding-left: 3%;
  }
  
  &__button_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  &__h_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
  }
  
  &__p_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
  }
}

.input__email {
  width: 65%;
  min-height: 49px;
  background: #E1E1E1;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
  padding-right: 22px;
  outline: none;
}

.reserved {
  &__p_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
  }
  
  &__copyright {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  &__socials {
    display: flex;
    justify-content: flex-end;
    height: 32px;
    gap: 7px;
  }
}

.social {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    aspect-ratio: 1/1
  }
  
  &__item:hover &__icons path {
    fill: #FFFFFF;
  }
  
  &__item:hover {
    background: $decorColor;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top {
    &__h_text {
      font-weight: 900;
      font-size: 44px;
      line-height: 53px;
    }
  
    &__p_text {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
  }

  .center {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }

  .img__logo {
    object-fit: contain;
  }

  .featured__card {
    width: 47%;
  }

  .footer {
    &__article {
      width: 100%;
      padding-top: 48px;
    }
  
    &__articles {
      padding-top: 0;
      padding-bottom: 64px;
    }
  
    &__faces {
      flex-wrap: wrap;
    }
  
    &__face {
      width: 100%;
    }
  
    &__subscribe {
      width: 100%;
      padding-bottom: 110px;
    }
  }
}


@media (max-width: 767px) {
  .menu {

    &__items {
    display: none;
    }
  }

  .top {
    &__content {
      justify-content: center;
      align-content: center;
    }
  
    &__left {
      display: none;
    }
  
    &__right {
      justify-content: center;
      flex-grow: 1;
      padding: 148px 0;
    }
  
    &__h_text {
      font-weight: 900;
      font-size: 38px;
      line-height: 46px;
    }
  
    &__p_text {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }

    &__accessories {
      min-height: 111px;
    }
  }

  .card {
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .featured__card {
    width: 100%;
    text-decoration: none;
  }

  .footer {
    &__article {
      width: 100%;
      padding-top: 48px;
    }
  
    &__articles {
      padding-top: 0;
      padding-bottom: 64px;
    }
  
    &__faces {
      flex-wrap: wrap;
      background-position: left;
    }
  
    &__face {
      width: 100%;
    }
  
    &__subscribe {
      width: 100%;
      padding-bottom: 110px;
    }
  
    &__reserved {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-content: center;
      padding-top: 0;
    }
  }

  .reserved__socials {
    justify-content: center;
    padding-top: 43px;
    padding-bottom: 40px;
  }
}